body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

.main-content {
     flex-grow: 1;
     width: 100%;
     margin: auto;
}
.main-content p{
    text-align: center;
    font-family: Tahoma;
}


footer {
    background-color: black;
    text-align: center;
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

header h1 {
    text-align: center;
    font-size: 64px;
    margin-bottom: 16px;
}
#navbar{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
}

header a {
    color: #4e4d4d;
    font-size: 20px;
    text-decoration: none;
}
header a:hover{
    background-color: rgba(0, 0, 0, 0.381);
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 8px;
}

.portrait {
    width: 250px;
}
form {
    display: flex;
    flex-direction: column;
    height: 100px;
    padding: 30px;
    justify-content: space-between;
}

input {
    border: 2px solid #cccccc;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}
button {
    cursor: pointer;
    border: 2px solid #888888;
    background-color: #888888;
    color: white;
    padding: 8px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}
button:hover {
    background-color: rgba(29, 28, 28, 0.79);
}

#message-1 {
    font-size: 30px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#message-2 {
    font-size: 20px;
    color: rgb(62, 61, 61);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}